header {
  text-align: center;
    background-color: red;
}
body {
  background-color: #4863A0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: red;
}
nav li {
  display: inline;
  list-style: none;
  margin-right: 10px;
}

img {
  height: auto;
  max-width: 100%;
  background-color: inherit;
}

#left-side {
  float: left;
}

#right-side {
  float: right;
  font-size: 30px;
  margin: 10px 0 16px 0;
}

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: #AAA;
}

#main-pic {
  text-align: center;
  clear: both;
  border-top: 1px solid white;
}
#main-pic img {
  border: 5px solid white;
  border-radius: 70%;
  margin-bottom: 20px;
}

#main-name {
  font-size: 60px;
  margin: 30px 0 25px 0;
}

.icon-github:before {
  color: red;
}

.icon-twitter:before {
  color: red;
}

.icon-linkedin:before {
  color: red;
}

.icon-google-plus2:before {
  color: red;
}

.icon-facebook2:before {
  color: red;
}

/*media queries*/

@@media only screen and (max-width: 640px) {
  .icon-menu {
    display: none;
  }
  #left-side ul {
    display: block;
    text-align: center;
    width: 100%;
  }
  #right-side li {
    display: inline-block;
    width: 17%;
    text-align: center;
  }
}
