.hamburger-icon {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-image: url('images/burger.gif');
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.hamburger-ul {
  padding-left: 0px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.hamburger-li {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  list-style: none;
}

.template img {
  width: 12em;
  height: 12em;
}
header {
  text-align: center;
  background-color: red;
}
body {
  background-color: #4863A0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

nav {
  background-color: red;
}
nav li {
  display: inline;
  list-style: none;
  margin-right: 10px;
}

img {
  height: auto;
  max-width: 100%;
  background-color: inherit;
}

#left-side {
  float: left;
}

#right-side {
  float: right;
  font-size: 30px;
  margin: 10px 0 16px 0;
}

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: #AAA;
}

#main-pic {
  text-align: center;
  clear: both;
  border-top: 1px solid white;
}
#me {
  border: 5px solid white;
  border-radius: 70%;
  margin-bottom: 20px;
}

#main-name {
  font-size: 60px;
  margin: 30px 0 25px 0;
}

.icon-github:before {
  color: red;
}

.icon-twitter:before {
  color: red;
}

.icon-linkedin:before {
  color: red;
}

.icon-google-plus2:before {
  color: red;
}

.icon-facebook2:before {
  color: red;
}

.hamburger-menu {
  display: none;
}

/*media queries*/

@media only screen and (min-width: 640px) {
  .hamburger-icon {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-ul {
    width: 100%;
    text-align: center;
  }
  .hamburger-li {
    display: inline;
    width: 33%;
    padding: 10px;
  }
}
